.background-color{
    background-color: #FEFEE6;
    border: 1px solid #E8E8E8;
    padding-top: 5px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}